services:
  auction-test-client:
    build:
      context: ./auction-test-client
      dockerfile: Dockerfile
    environment:
      - AUCTION_HOUSE_BASE_URL=http://host.docker.internal:8090
      - TEST_CLIENT_BASE_URL=http://host.docker.internal:8091
      - TEST_CLIENT_NAME=test-client
      - TEST_CLIENT_PORT=8091
      - POLL_INTERVAL_SECONDS=5
    ports:
      - "8091:8091"
